.background {
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: 0.25;
}

.content {
  position: relative;
  padding: 1rem;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 10s linear;
  }
}

table {
  margin-top: 1rem;
  background-color: gray;
  border-spacing: 1px;

  td, th {
    padding: 0.5rem 1rem;
    text-align: left;
    background-color: white;
  }

  tr.highlight td {
    color: crimson;
  }
}
@media (prefers-color-scheme: dark) {
  table {
    td, th {
      background-color: #1a1a1a;
    }
  }
}
@media screen and (max-width: 600px) {
  table {
    display: none;
  }
}

p,
label {
  display: block;
  margin: 0.5rem 0;
}

.cars {
  display: none;
  margin-top: 1rem;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (max-width: 600px) {
  .cars {
    display: flex;
  }
}

.car {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;

  &.highlight {
    color: crimson;
  }
}

.car-name {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 0.1rem;
  border-bottom: 1px solid;
}

.car-name span {
  display: inline-block;
  margin-left: 1rem;
}

.separator {
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;
}
